# .prettierignore
#
# SPDX-License-Identifier: CC-BY-4.0 OR GPL-3.0-or-later
# This file is part of Network Pro
#
# Ignore artifacts

.*
**/*.xml
**/.git
**/.svn
**/.hg
**/.webpack_cache
**/.vscode
**/assets/license
.cache
coverage
dist
node_modules
