# .github/workflows/playwright.yml
#
# Copyright © 2025-2026 Network Pro Strategies (Network Pro™)
# SPDX-License-Identifier: CC-BY-4.0 OR GPL-3.0-or-later
# This file is part of Network Pro

name: Playwright Tests
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

# Required for actions/checkout
permissions:
  contents: read

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-24.04
    env:
      NODE_ENV: test
      ENV_MODE: ci

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log ENV_MODE
        run: 'echo "ENV_MODE is set to: $ENV_MODE"'

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Upgrade npm
        run: |
          corepack enable
          npm install -g npm@11.7.0

      - name: Install Node.js dependencies
        run: npm ci

      - name: Build site
        run: npm run build

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: NODE_ENV=test npx playwright test

      - name: Upload Playwright report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
          if-no-files-found: ignore
          retention-days: 30
